.board
	margin: 75px auto
	width: 860px
	height: 860px
	display: grid
	grid-template-columns: repeat(8, 1fr)
	grid-template-rows: repeat(8, 1fr)
	&__piece
		width: 100%
		max-width: calc(860px / 8)
		max-height: calc(860px / 8)
		z-index: 1000
		&-icon
			width: 100%
			display: block
			pointer-events: none
.cell
	position: relative
	line-height: 0
	font-size: 0
	margin: 0
	padding: 0
	box-sizing: border-box
	background: $boardCellBlack

	&:nth-child(n+1) 
		&:nth-child(odd)
			&:nth-child(-n + 8)
				background: $boardCellWhite
	&:nth-child(n+9) 
		&:nth-child(even)
			&:nth-child(-n + 16)
				background: $boardCellWhite
	&:nth-child(n+17) 
		&:nth-child(odd)
			&:nth-child(-n + 24)
				background: $boardCellWhite
	&:nth-child(n+25) 
		&:nth-child(even)
			&:nth-child(-n + 32)
				background: $boardCellWhite
	&:nth-child(n+33) 
		&:nth-child(odd)
			&:nth-child(-n + 40)
				background: $boardCellWhite
	&:nth-child(n+41) 
		&:nth-child(even)
			&:nth-child(-n + 48)
				background: $boardCellWhite
	&:nth-child(n+49) 
		&:nth-child(odd)
			&:nth-child(-n + 56)
				background: $boardCellWhite
	&:nth-child(n+57) 
		&:nth-child(even)
			&:nth-child(-n + 64)
				background: $boardCellWhite

	&--white
		background: $boardCellWhite
	&--black
		background: $boardCellBlack
	&--active
		background: $boardCellActive
	&__hint
		position: absolute
		width: calc(860px / 35)
		height: calc(860px / 35)
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		border-radius: 50%
		opacity: 0.1
		display: block
		background: #000
		display: none
		pointer-events: none 
	&__notation
		pointer-events: none
	&__mark
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		z-index: 92
		background: rgba(coral, 50%)
		display: none
	&--has-border
		border: solid 4px coral